#Editors
/.idea/
/.vscode/
/.settings/
/.dccache
*.iml

#Build
/*.launch
/deployment/
/theme-cache/
/.mendix-cache/

#Mendix
/*.mpk
!/CSVAsTable.mpk
/.classpath
/.project
/*.lock
/*.bak
/project-settings.user.json

#Source
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/

#Gradle
.gradle/
/build/
/upgraded/

#Other
/releases/
